<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Archivo</title>
</head>
<body>
    <h1>Subir Imagen</h1>
    <form action="/archivo" method="POST" enctype="multipart/form-data">
        <input type="file" name="archivo" accept=".png,.jpg,.jpeg">
        <input type="submit" value="Subir">
    </form>
</body>
</html>