<!DOCTYPE html>
<html lang="es">
    <%- include('includes/head') %>
    <body>
        <h1>Error 404</h1>
        <p>Página no encontrada.</p>
        <%- include('includes/footer') %>
    </body>
</html>