<!DOCTYPE html>
<html lang="es">
    <%- include('includes/head') %>
    <body>
        <h1>Página principal</h1>
        <p><a href="/formulario/form">Ir al formulario</a></p>
        <%- include('includes/footer') %>
        <h3>¿Qué otros templating engines existen para node?</h3>
        <p>Pug, Mustache, Handlebars.</p>
        <h4>Referencias</h4>
        <p>EBIS. (2024). <i>Template Engine: Qué es y Cómo crearlo (Guía Paso a Paso).</i>EBIS. https://www.ebiseducation.com/template-engine-que-es-y-como-crearlo-guia-paso-a-paso</p>
    </body>
</html>