<!DOCTYPE html>
<html lang="es">
    <%- include('includes/head') %>
    <body>
        <h1>Página principal</h1>
        <p><a href="/formulario/form">Ir al formulario</a></p>
        <%- include('includes/footer') %>
    </body>
</html>