<%- include('includes/head') %>
<h1><%= titulo %></h1>
<form action="/add" method="POST">
  <input type="text" name="valor" placeholder="Escribe un valor" required>
  <button type="submit">Guardar</button>
</form>
<a href="/">Volver a la lista</a>

<body>
    <h1>Preguntas</h1>
    <h2>Beneficios</h2>
    <ul>
        <li>Modelo, Vista y Controlador están divididos lo cuál es eficiente.</li>
        <li>Puedes extender y reutilizar componentes de una forma sencilla.</li>
        <li>Puedes probar cada componente individualmente.</li>
        <li>Para aplicaciones grande se vuelve mejor en cuanto a la organización.</li>
    </ul>
    <h2>Desventajas</h2>
    <ul>
        <li>En aplicaciones algo pequeñas puede no ser la mejor opción, tomaría más tiempo.</li>
        <li>Se debe tener un entendimiento más que claro de como funcionan estas capas.</li>
        <li>Son varios archivos los que se mantienen organizados.</li>
    </ul>
    <%- include('includes/footer.ejs') %>
</body>